<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../CSS/index.css" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
     <header>
         <div class="top_daohang" style="width:auto;height:100px;">
             <div class="top_tubiao" style="margin-top:8px;margin-left:10px;width:30%">
                 <img src="../Img/aaa.png" width="302" height="83" />
             </div>
              <div class="top_caidan" style="float:right;width:60%;height:96%;margin-right:10px;margin-top:-85px;">
                  <ul class="shuiping" style="list-style:none;margin-left:20px;">
                      <li class="glyphicon glyphicon-home" id="li_yangshi" style="color:white;font-size:20px;display:block;float:left;">
                         <div style="height:7px;"></div>
                             <a class="tit">
                                 <p class="cn" style="color:white;margin-left:-8px">首页</p>
                                <p class="cn" style="color:white;margin-left:-8px">Home</p>
                                </a>
                            </li>
                            <li class="glyphicon glyphicon-globe" id="li_yangshi" style="color:white;font-size:20px;display:block;float:left;margin-left:50px;">
                                <div style="height:7px;"></div>
                                <a class="tit">
                                    <p class="cn" style="color:white;margin-left:-8px">公司简介</p>
                                    <p class="cn" style="color:white;margin-left:-8px">Comany Profile</p>
                                </a>
                            </li>
                            <li class="glyphicon glyphicon-gift" id="li_yangshi" style="color:white;font-size:20px;display:block;float:left;margin-left:50px;">
                                <div style="height:7px;"></div>
                                <a class="tit">
                                    <p class="cn" style="color:white;margin-left:-8px">产品中心</p>
                                    <p class="cn" style="color:white;margin-left:-8px">Products</p>
                                </a>
                            </li>
                            <li class="glyphicon glyphicon-subtitles" id="li_yangshi" style="color:white;font-size:20px;display:block;float:left;margin-left:50px;">
                                <div style="height:7px;"></div>
                                <a class="tit">
                                    <p class="cn" style="color:white;margin-left:-8px">新闻中心</p>
                                    <p class="cn" style="color:white;margin-left:-8px">Press Center</p>
                                </a>
                            </li>
                            <li class="glyphicon glyphicon-usd" id="li_yangshi" style="color:white;font-size:20px;display:block;float:left;margin-left:50px;">
                                <div style="height:7px;"></div>
                                <a class="tit">
                                    <p class="cn" style="color:white;margin-left:-8px">招纳贤士</p>
                                    <p class="cn" style="color:white;margin-left:-8px">recruit</p>
                                </a>
                            </li>
                            <li class="glyphicon glyphicon-save" id="li_yangshi" style="color:white;font-size:20px;display:block;float:left;margin-left:50px;">
                                <div style="height:7px;"></div>
                                <a class="tit">
                                    <p class="cn" style="color:white;margin-left:-8px">下载中心</p>
                                    <p class="cn" style="color:white;margin-left:-8px">Download Center</p>
                                </a>
                            </li>
                         <li class="glyphicon glyphicon-earphone" id="li_yangshi" style="color:white;font-size:20px;display:block;float:left;margin-left:50px;display:none">
                             <div style="height:7px;"></div>
                             <a class="tit">
                                <p class="cn" style="color:white;margin-left:-8px">联系我们</p>
                               <p class="cn" style="color:white;margin-left:-8px">Contact Us</p>
                          </a>
                      </li>
                   </ul>
               </div>
          </div>
     </header>
</body>
</html>
